@keyframes reloadscreen {
  to {
    visibility: visible;
  }
}

#forecast_screen {
  &.has-reloaded {
    .reload-animation {
      visibility: hidden;
      animation: reloadscreen 222ms forwards;

      &.step-1 {
        animation-delay: 222ms;
      }

      &.step-2 {
        animation-delay: 444ms;
      }

      &.step-3 {
        animation-delay: 666ms;
      }

      &.step-4 {
        animation-delay: 888ms;
      }

      &.step-5 {
        animation-delay: 1100ms;
      }

      &.step-6 {
        animation-delay: 1332ms;
      }

      &.step-7 {
        animation-delay: 1554ms;
      }

      &.step-8 {
        animation-delay: 1776ms;
      }

      &.step-9 {
        animation-delay: 1998ms;
      }
    }
  }
}
